body {
    background-color: #6200EE;
}

#mainContainer {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#imgContainer {
    margin-right: 30px;
}

.mainGif {
    left: 10px;
}

#linksContainer {
    display: flex;
    gap: 25px;
}

#footer {
    display: flex;
}

a {
    display: none;
}